%hr
.row
  .col-xs-12.col-sm-6.col-lg-4
    .box
      .icon
        .image
          %i.fa.fa-thumbs-o-up
        .info
          %h3.title Made with Bootstrap
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
          .more
            %a{:href => "#", :title => "Title Link"}
              Read More
              %i.fa.fa-angle-double-right
      .space
  .col-xs-12.col-sm-6.col-lg-4
    .box
      .icon
        .image
          %i.fa.fa-flag
        .info
          %h3.title Icons by Font Awesome
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
          .more
            %a{:href => "#", :title => "Title Link"}
              Read More
              %i.fa.fa-angle-double-right
      .space
  .col-xs-12.col-sm-6.col-lg-4
    .box
      .icon
        .image
          %i.fa.fa-desktop
        .info
          %h3.title Desktop Friendly
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
          .more
            %a{:href => "#", :title => "Title Link"}
              Read More
              %i.fa.fa-angle-double-right
      .space
