<h1>Patients</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Disorder</th>
        </tr>
      </thead>

      <tbody>
        <% @patients.each do |patient| %>
          <tr>
            <td><%= link_to patient.name, patient_showinfo_path(patient) %></td>
            <td><%= patient.disorder %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
