<h1>hospitals</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Specialty</th>
        </tr>
      </thead>

      <tbody>
        <% @hospitals.each do |hospital| %>
          <tr>
            <td><%= link_to hospital.name, hospital_path(hospital) %></td>
            <td><%= hospital.location %></td>
            <td><%= hospital.specialty %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
