%hr
%a{ class: 'doctor-details', name: 'doctor-details'}
%p

.tac
  %h2 
    %strong Doctor Information
%br

.row
  .col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8
    .well.profile
      .col-sm-12
        .col-xs-12.col-sm-8
          %h3
            = @doctor.name
            %p
          Specialty:
          %strong
            = @doctor.specialty
          %p
        .col-xs-12.col-sm-4.text-center
          %figure
            %img.img-circle.img-responsive{:alt => "", :src => "/assets/profile-head.png"}
